.section-talks {

  .current-talk {
    margin-bottom: calc(var(--gutter) * 2);
    
    &__title {
      padding-left: 0;
      padding-right: 0;
      font-size: var(--fp-h6-small);
    }

    &__subtitle { 
      margin-top: var(--gutter);
      margin-bottom: var(--gutter);
      color: var(--c-thi-lighter-100); 
    }

    &__description {
      font-size: var(--ft-normal);
      background-color: initial;
      margin-top: initial;
      padding: initial;
    }

    &__btns {
      display: flex;
      flex-wrap: wrap;
      .btn {
        margin-right: var(--gutter);
        margin-bottom: var(--gutter);
        font-size: var(--fp-smaller);
      }
    }
  }

  .content-list {
    margin-bottom: calc(var(--gutter) * 4);

    &__description {
      display: flex;
      font-family: var(--f-primary);
      font-size: var(--fp-smaller);
      text-transform: uppercase;
      transition: var(--transition);
      .icon-eye {
        fill: var(--c-thi-lighter-100);
        position: relative;
        top: 1.5px;
        margin-right: var(--gutter);
        width: 24px;
        height: 16px;
      }
      &:hover {
        color: var(--c-acc-main);
        background-color: var(--c-pri-darker-200);
        .icon-eye { fill: var(--c-acc-main); }
      }
    }
  }

  @media only screen and (min-width : 1024px) {
    margin-top: calc(var(--gutter) * 2);
    margin-bottom: calc(var(--gutter) * 4);
    margin-left: calc(var(--gutter) * 2);
    margin-right: calc(var(--gutter) * 2);
    max-width: 1369px;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-template-rows: auto;
    grid-gap: calc(var(--gutter) * 2);
    grid-template-areas: 'currentTalk contentList';

    .current-talk {
      grid-area: currentTalk;
      &__title {
        font-size: var(--fp-h5-regular);
      }
      &__subtitle { 
        font-size: var(--fp-h6-small);
      }
      &__description {
        font-size: var(--fs-regular);
      }
      &__btns {
        .btn {
          font-size: var(--fp-h6-small);
        }
      }
    }
    .content-list {
      grid-area: contentList;
      align-self: baseline;
      &__title { font-size: var(--fp-h5-regular); }
    }
  }
  @media only screen and (min-width : 1369px) {
    margin-left: auto;
    margin-right: auto;
  }
}