.section-talks {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;

  &__content {
    background-color: var(--c-acc-main);
    padding: var(--gutter);
    max-width: 100%;
    p {
      font-family: var(--f-secondary);
      font-weight: var(--regular);
    }
  }
  &__video {
    border-radius: 5px;
    box-shadow: none;
    border: none;
  }
  &__title {
    font-family: var(--f-primary);
    font-weight: var(--bold);
    text-transform: uppercase;
    color: var(--c-thi-lighter-100);
  }
  &__subtitle {
    margin-bottom: 2rem;
  }
  &__buttons {
    display: flex;
    padding-bottom: 5px;
    a {
      margin-right: var(--gutter);
      background-color: var(--c-sec-main);
      font-family: var(--f-primary);
      font-weight: var(--regular);
      color: var(--c-acc-main);
      border-radius: 10px;
      text-transform: uppercase;
      &:hover {
        background-color: var(--c-sec-lighter-100);
      }
    }
  }

  &__content-talks {
    max-width: 100%;
    background-color: var(--c-acc-main);
    padding: var(--gutter);
    hr {
      color: var(--c-acc-main);
      font-size: 1px;
    }
  }
  &__title-talk {
    color: var(--c-thi-lighter-100);
    font-family: var(--f-primary);
    font-weight: var(--bold);
    text-transform: uppercase;
  }
  &__list-talks {
    padding: var(--gutter);
    display: grid;
    grid-template-columns: 1fr;

    a {
      display: flex;
      background-color: var(--c-fou-lighter-100);
      color: var(--c-thi-lighter-100);
      font-family: var(--f-primary);
      font-size: var(--fp-smaller);
      font-weight: var(--regular);
      margin: 10px 0px 20px 0px;
      border-radius: 5px;
      text-transform: uppercase;

      &:hover {
        background-color: var(--c-pri-darker-100);
        color: var(--c-acc-main);
      }
    }
  }
  &__icon {
    display: block;
    max-width: 26px;
    width: 100%;
    margin-right: 50px;
    fill: var(--c-thi-lighter-100);
    &:hover {
      fill: var(--c-acc-main);
    }
  }

  @media screen and (min-width: 320px) {
    grid-template-columns: 1fr;
    margin: var(--gutter);
    &__content {
      p {
        font-size: var(--fs-small);
      }
    }
    &__video {
      width: 100%;
      height: 300px;
    }
    &__title {
      font-size: var(--fp-h6-small);
    }
    &__buttons {
      a {
        font-size: var(--fp-h6-small);
        padding: 1px 15px 1px 15px;
      }
    }
    &__title-talk {
      font-size: var(--fp-h6-small);
    }
    &__list-talks {
      a {
        padding: 5px 12px 5px 12px;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    &__content {
      margin-right: 10px;
      p {
        font-size: var(--fs-regular);
      }
    }
    &__content-talks {
      margin-left: 30px;
    }

    &__title {
      font-size: var(--fp-h5-regular);
    }

    &__buttons {
      a {
        font-size: var(--fp-h5-regular);
        padding: 1px 50px 1px 50px;
      }
    }
  }
}
