.section-mntd {

  &__banner {
    display: grid;
    align-content: center;
    position: relative;
    max-width: 100%;
    height: 60vh;
    background: linear-gradient(180deg,
    var(--c-sec-main) 0%,
    #3AB24F 0.01%,
    #00481E 56.77%,
    var(--c-pri-main) 100%);
    &-logo {
      margin-right: auto;
      margin-left: auto;
      fill: var(--c-acc-main);
      width: 85%;
    }
    &-decorative {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  &__list {
    margin-top: calc(var(--gutter) * 2);
    margin-bottom: calc(var(--gutter) * 2);
    // tag <select>
    .season-list {
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-width: 360px;
      padding: var(--gutter) calc(var(--gutter) * 2);
      border: none;
      border-radius: var(--border-radius);
      background-color: var(--c-pri-main);
      color: var(--c-acc-main);
      font-family: var(--f-primary);
      font-size: var(--ft-normal);
      text-transform: uppercase;

      .season-element {
        width: 10px;
        background-color: var(--c-pri-darker-200);
        font-size: var(--ft-small);
        color: var(--c-acc-main);
      }
    }
  }
  &__content {
    padding: var(--gutter);
    .more-video {
      margin-top: calc(var(--gutter) * 4);
      margin-bottom: calc(var(--gutter) * 4);
      &__content {
        padding-top: 0;
        padding-bottom: 0;
      }
      &__description { display: block; }
      &__element,
      &__information { 
        @media only screen and (max-width : 1023px){
          display: none;
        }
      }
      &__title {
        font-family: var(--f-primary);
        font-size: var(--ft-normal);
        color: var(--c-thi-main);
      }
    }
  }

  @media only screen and (min-width : 768px){
    &__banner {
      &-logo { width: 60%; }
    }
  }

  @media only screen and (min-width : 1024px){

    &__banner {
      height: 70vh;
    }

    .season-list {
      margin-right: initial;
      margin-left: calc(var(--gutter) * 4);
      max-width: 1369px;
      .season-element {
        padding: 4rem;
      }
    }

    &__content {
      margin-left: calc(var(--gutter) * 2);
      margin-right: calc(var(--gutter) * 2);
      margin-bottom: calc(var(--gutter) * 4);
      max-width: 1369px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: calc(var(--gutter) * 2);
      grid-template-areas: 'videoRecent moreVideo';

      .recent-video { 
        align-self: baseline;
        grid-area: videoRecent; 
      }

      .more-video {
        grid-area: moreVideo;
        margin-top: calc(var(--gutter) * 2);
        align-self: center;
        &__content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
        }
          &__title {
            font-size: var(--fp-smaller);
          }

          &__information {
            color: var(--c-thi-lighter-100);
            font-family: var(--f-secondary);
            font-size: var(--fp-ultrasmaller);
          }
      }
    }
  }

  @media only screen and (min-width : 1369px) {
    
    .season-list,
    &__content {
      margin-left: auto;
      margin-right: auto;
    }

    
  }

}
