// Fuente tipográfica, por defecto
/*
    font-family: 'Fira Mono', monospace;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Fira Code', monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Mono:wght@700&family=Fira+Sans&display=swap');
