// hoja de de estilo para los cards de cada post, Home, Blog, ... etc
.post-link {
  display: block;
}

.post-article {
  position: relative;
  margin: var(--gutter) auto;
  padding: 0 var(--gutter);
  max-width: 600px;
  background-color: var(--c-acc-main);
  border-radius: var(--border-radius);
  transition: var(--transition);  

  &__title {
    padding: var(--gutter) 0;
    font-family: var(--f-primary);
    font-size: var(--fp-smaller);
    color: var(--c-thi-main);
    text-transform: uppercase;
  }

  &__description {
    padding-bottom: var(--gutter);
    font-family: var(--f-secondary);
    font-size: var(--fs-smaller);
    color: var(--c-thi-lighter-100);
  }

  @media only screen and (min-width : 1024px) {
    margin: initial;
    max-width: initial;

    .icon-blog {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: scale(0);
      transition: var(--transition);
    }

    &:hover {
      background-color: var(--c-fou-darker-100);

      .icon-blog { 
        transform: translate(-50%, -50%);
        background-color: var(--c-acc-main); 
      }
      .icon-read { fill: var(--c-fou-darker-100); }
    }

  }
}