.icon-network {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--c-pri-darker-200);
  transition: var(--transition);
  
  &:hover { background-color: var(--c-sec-darker-100); }
}