.section__title {
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  font-size: var(--f-h2);
  text-align: center;
  font-family: var(--f-primary);
  font-weight: var(--bold);
  text-transform: uppercase;

  @media screen and (min-width : 1024px){
    font-size: var(--f-h1);
  }
}

.section__description {
  text-align: center;
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  
  @media screen and (min-width : 1024px){
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.decoration-top {
  margin-bottom: -1px;
  transform: rotate(180deg);
}

.decoration-bottom {
  margin-top: -1px;
}
