// DEPRECATED
// Estilos para las cards videos (MNTD), Talks, ... etc
.card-widget {
  background-color: var(--c-acc-main);
  border-radius: var(--border-radius);
  &__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__data,
  &__content {
    padding: var(--gutter);
  }
    &__title,
    &__subtitle { 
      font-size: var(--ft-normal);
      text-transform: uppercase; 
      font-family: var(--f-primary);
    }
    &__title {
      color: var(--c-thi-main);
    }
    &__subtitle {
      color: var(--c-fou-main);
    }
    &__element {
      margin-top: var(--gutter);
      margin-bottom: var(--gutter);
    }
    &__description {
      margin-top: var(--gutter);
      margin-bottom: var(--gutter);
      padding: var(--gutter);
      color: var(--c-thi-lighter-100);
      font-family: var(--f-secondary);
      background-color: var(--c-fou-lighter-100);
      border-radius: var(--border-radius);
    }
} 