// estilo iconos redes sociales - Page About
.icon-network {
  border-radius: 50%;
  background-color: var(--c-pri-darker-200);
  transition: var(--transition);
  
  &:hover { background-color: var(--c-sec-darker-100); }
}

.content-network {
  display: flex;
  align-items: center;
  margin: var(--gutter) 0;
  @media only screen and (min-width : 1024px){
    margin: 8px 0;          
  }
  .nickname-network {
     padding-left: var(--gutter);
     font-family: var(--f-secondary);
     color: var(--c-acc-main);
     transition: var(--transition);
     &:hover {
      color: var(--c-sec-lighter-200);
     }
  }
}