.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-pri-main);
  &-copy {
    text-align: center;
    font-family: var(--f-primary);
    font-size: var(--ft-normal);
    font-size: var(--fp-smaller);
    color: var(--c-acc-main);
    text-transform: uppercase;
    text-align: center;
      & {
        @media (min-width: 1024px) {
          font-size: var(--fp-h5-regular);
        }
      }
    }
  }

