.section-blog {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-bottom: calc(var(--gutter) * 4);
  
  // estilos para titulos, y las card de blog
  .posts-title {
    font-family: var(--f-primary);
    color: var(--c-thi-lighter-100);
    text-transform: uppercase;
  }

  .separator-blog {
    border: 1px solid var(--c-fou-main);
  }

// estilo por separado para cada card de blog
  .last-posts {

    &__title {
      font-size: var(--fp-h4-normal);
      color: var(--c-thi-main);
    }
  }

  .recent-posts {

    &__title {
      font-size: var(--fp-h5-regular);
    }
  }

  .other-posts {

    &__title {
      font-size: var(--fp-h5-regular);
    }

  }

  .more-posts {
    
    &__title {
      padding: 0 var(--gutter);
      font-size: var(--fp-h6-small);
    }

    .more-post {
      background-color: var(--c-acc-main);

        &__icon {
          margin-right: 8px;
          fill: var(--c-thi-lighter-100);
          svg {
            width: 8px;
            height: 8px;
          }
        }

        &__link {
          font-family: var(--f-primary);
          text-transform: uppercase;
          font-size: var(--fp-ultrasmaller);
          color: var(--c-thi-lighter-100);
          &:hover {
            text-decoration: underline;
          }
        }
    }
  }

  // layout - disposición de los elementos en vista desktop
  @media only screen and (min-width : 1024px) {
    max-width: var(--max-width);
    margin-top: calc(var(--gutter) * 2);
    margin-left: calc(var(--gutter) * 2);
    margin-right: calc(var(--gutter) * 2);
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    grid-template-rows: auto 32px 1fr;
    grid-gap: 20px;
    grid-template-areas: 'lastPosts recentPosts recentPosts'
                         'separator separator separator'
                         'otherPosts otherPosts morePosts';

    .last-posts {
      grid-area: lastPosts;
      padding: 0;

      &__title {
        font-size: var(--fp-h2-subtitle);
      }

      .post-article {
        
        &__title { font-size: var(--fp-h4-normal); }

        &__description { font-size: var(--fp-h5-regular); }
      }
    }

    .separator-blog {
      grid-area: separator;
      width: 100%;
    }
    
    .recent-posts,
    .other-posts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-gap: 20px;
    }

    .recent-posts {
      grid-area: recentPosts;

      &__title {
        font-size: var(--fp-h3-subtitle);
      }
    }

    .other-posts { 
      grid-area: otherPosts;
      grid-template-rows: calc(var(--gutter) * 4) auto;
      grid-template-columns: auto; 

      &__title {
        margin-bottom: 0;
        font-size: var(--fp-h4-normal);
      }


      .inner-wrap-posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
      }
    }

    .recent-posts__title,
    .other-posts__title {
      grid-column: span 2;
    }

    .more-posts {
      grid-area: morePosts;
      margin-top: calc(var(--gutter) * 4);
      
      &__title {
        padding: 0;
        font-size: var(--fp-h6-small);
      }

      .more-post {
        padding-left: var(--gutter);
        padding-right: var(--gutter);
      }
    }

    @media only screen and (min-width : 1420px) {
      margin-left: auto;
      margin-right: auto;
    }

  }
}